<style>
    #foot1
    {
        margin-top:1%;
        background-color:lightgreen;
        border:solid 1px;
    }
    #foot1>p
    {
        font-weight:bolder;
        margin-left:2%;
        font-size:large;
    }
    #foot1>p>a
    {
        font-family:'Curlz MT';
        font-size:x-large;
    }
    #foot1>p>a:hover
    {
        text-decoration:none;
    }


    #img1,#img2,#img3
    {
        border-radius:6px;
        margin:0.5%;
        width:4%;
    }
    #img1:hover,#img2:hover,#img3:hover
    {
        box-shadow:3px 3px 3px black;
    }
    #img1
    {
        margin-left:30%;
    }

</style>
<div class="row">
    <footer id="foot1">
        <p>
            Copyright &copy; 2016 | All Rights Reserved by <a href="#">All Services Provide</a>
            <img id="img1" src="~/Content/img/SocialMedia/FACEBOOK_color_64px.png" />
            <img id="img2" src="~/Content/img/SocialMedia/LINKEDIN_color_64px.png" />
            <img id="img3" src="~/Content/img/SocialMedia/TWITTER_color_64px.png" />
        </p>
    </footer>
</div>









