<style>
    #sidebar-row
    {
        margin-top:10%;
    }
    #btn1
    {
        background-color:lightgreen;
        margin-top:5%;
        width:100%;

    }
     

</style>

<div class="row" id="sidebar-row">
        <a href="~/Site/Index" class="btn" id="btn1">Home</a>
        <a href="~/Site/Search" id="btn1" class="btn" >Search</a>
        <a href="#" id="btn1" class="btn" >About Us</a>
        <a href="#" id="btn1" class="btn" >Contact Us</a>
        <a href="#" id="btn1" class="btn" >Feedback</a>
</div>



















